{% extends "public_menu.html" %}

{% block title %}
<title>Innovation Collaboration Network - InitHub</title>
{% endblock title %}

{% block meta %}
<meta name="description" content="Crowdsourcing Innovation Network - InitHub" />
<meta name="keywords" content="crowdsourcing,innovation,collaboration,network,mastermind" />
<meta name="ROBOTS" content="INDEX, FOLLOW" />
{% endblock meta %}

{% block content %}
<h1>Crowdsourcing Innovations to Life</h1>
<p>InitHub is a crowdsourcing innovation network designed to facilitate forming key connections with the common goal of advancing an idea or innovation. Our goal is to create a trusted, self governing community dedicated to bringing innovations to life.</p>
<div class="offer_1">
<h3>Special Offer</h3>
<p>Membership to IntiHub is free. And now for a limited time new members can also publish an Innovation for free for 90 days. No obligations and no credit card required. Request membership by completing our <a href="/manager/invitation/">invitation request</a>. We will be issuing a limited number invitations during our Beta period.</p>
</div>

<h2>Key Benefits</h2>
<ul>
<li>Create, refine and publish Innovations to our private community</li>
<li>Define key milestones, set target and completed dates for each milestone</li>
<li>Request the services you need to advance your Innovation</li>
<li>Connect with users and build a mastermind team to help bring your idea to life</li>
<li>Browse and search for interesting Innovations</li>
<li>Offer your services to advance an Innovation</li>
<li>Rate and comment on Innovations</li>
<li>Rate registered users that you collaborate with</li>
<li>Get involved with an Innovation at a early stage!</li>
<li>Prepare for a crowdfunding campaign by leveraging the InitHub tools and community</li>
</ul>
<p>Membership to IntiHub is free. Request membership by completing our <a href="/manager/invitation/">invitation request</a>.</p>
{% endblock content %}