{% extends "base.html" %}
{% block javascript %}
<script src="/static/js/jquery.validate.min.js"></script>

 <script>
 $(document).ready(function(){
   $("#invite").validate({
   rules: {
   	email: {
   		required:true,
   		email:true
   	},
   	
   }
   });
 });
 </script>
  					
{% endblock javascript %}

{% block side_nav %}
<ul>
	<li><a href="/manager/collaboration/subject/list/">Subjects</a></li>
	<li><a href="/manager/collaboration/subject/add/">Create new Subject </a></li>
	<li><a href="/manager/inbox/">Inbox</a></li>
	<li><a href="/manager/collaboration/invite/">Invite</a></li>
</ul>
{% endblock side_nav %}

{% block content %}
<h1>Invite</h1>
{% if system_message %}<p class="error"><strong>{{ system_message }}</strong></p>{% endif %}
<p>You have {{invites_remaining}} of {{max_invitations}} invitations remaining.</p>
{% if invites_remaining > 0 %}
	<p>Invitations initiated by existing users are automatically accepted and an email will be sent to the users with instructions for creating an account.</p>
	<form id="invite" name="invite" method="post" action="/manager/collaboration/invite/">
	<table>
	{% csrf_token %}
	{{ form.as_table }}
	<tr><td colspan="2" align="center"><button type="submit">Invite</button></td></tr>
	</table>
	</form>
{% endif %}
{% endblock content %}