{% extends "initiatives.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/mintchoc/jquery-ui.css" type="text/css">
{% endblock css %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript">
function submitForm(cmd, offerid)
{
	document.forms["process_offer_form"].elements["offer_id"].value=offerid;
	document.forms["process_offer_form"].elements["cmd"].value=cmd;
	if(cmd== "accept"){
		$('#dialog-confirm').dialog({ title: "Accept Contributor" });
		$('#dialog-confirm').html("Are you sure you want to accept this contributor?");
	}
	else {
		$('#dialog-confirm').dialog({ title: "Reject Contributor" });
		$('#dialog-confirm').html("Are you sure you want to reject this contributor?");
	}
	
	$('#dialog-confirm').dialog('open');

	//document.forms["process_offer_form"].submit();

}
</script>
<script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      autoOpen: false,
      height:180,
      modal: true,
      buttons: {
        "Yes": function() {
          $( this ).dialog( "close" );
          document.forms["process_offer_form"].submit();
        },
        Cancel: function() {
        	document.forms["process_offer_form"].elements["offer_id"].value="";
		document.forms["process_offer_form"].elements["cmd"].value="";
          $( this ).dialog( "close" );
        }
      }
    });
  
});
</script> 

{% endblock javascript %}

{% block side_nav %}
<ul>
	<li><a href="/manager/initiative/edit/{{initiative.uuid}}/">Initiative</a></li>
	<li><a href="/manager/initiative/contributors/{{ initiative.uuid }}/">Contributors</a></li>
	<li><a href="/manager/initiative/milestones/{{ initiative.uuid }}/">Milestones</a></li>
	<li><a href="/manager/initiative/service/{{ initiative.uuid }}/">Service Requests</a></li>
</ul>
{% endblock side_nav %}

{% block content %}
<div id="dialog-confirm" title="Remove Contributor?">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>This contributor will be removed from Initiative. Are you sure?</p>
</div>
<h1>Service Offers</h1>
<h2>{{initiative.short_desc}}</h2>
{% if system_message %}<p><strong>{{ system_message }}</strong></p>{% endif %}
{% if offer_list %}
<form id="process_offer_form" name="process_offer_form" method="post" action="/manager/initiative/contributors/offer/">
<input name="offer_id" id="offer_id" type="hidden" value="">
<input name="cmd" id="cmd" type="hidden" value="">
<input name="uuid" id="uuid" type="hidden" value="{{initiative.uuid}}">
{% csrf_token %}
<table id="inbox" class="data_grid_1">
<tr><th>Service</th><th>Provider</th><th>Action</th></tr>
{% for offer in offer_list %}
	<tr>
		<td>{{ offer.service__short_desc }}</td>
		<td><a href="/manager/profile/view/{{ offer.profile__confirm_key }}/">{{ offer.profile__first_name }} {{ offer.profile__last_name }}</a></td>
		<td><a href="javascript: submitForm('accept', {{offer.id}})">Accept</a> | <a href="javascript: submitForm('reject', {{offer.id}})">Reject</a></td>
	</tr>
{% endfor %}
</table>
</form>
<br>
<div class="pagination">
    <span class="step-links">
        {% if offer_list.has_previous %}
            <a href="?page={{ offer_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ offer_list.number }} of {{ offer_list.paginator.num_pages }}.
        </span>

        {% if offer_list.has_next %}
            <a href="?page={{ offer_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>No pending Service Offers.</p>
{% endif %}
{% endblock content %}