{% extends "initiatives.html" %}
{% block css %}
<link rel="stylesheet" href="/static/js/chosen/chosen.css" />
<link rel="stylesheet" href="/static/css/mintchoc/jquery-ui.css" type="text/css">		
{% endblock css %}

{% block javascript %}
<script src="/static/js/chosen/chosen.jquery.js"></script>	
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>	
		
{% endblock javascript %}

{% block content %}
<form id="form" name="form" method="post" action="/manager/initiative/service/offer/">
<input type="hidden" name="uuid" value="{{ uuid }}">
{% csrf_token %}
<h1>Offer Services</h1>
{% if system_message %}
	<p><strong>{{ system_message }}</strong></p>
{% endif %}
	<p>Select the services you would like to offer to the the creator of this Initiative.</p>
	<select name="service_list" data-placeholder="Choose a Service..." id='thisOne' class="chzn-select" multiple style="width:350px;" tabindex="4">
	<option value=""></option> 
	{% for service in service_list %}
		<option id="{{ service.id }}" value="{{ service.id }}">{{ service.short_desc }}</option> 
	{% endfor %}
	</select>
	<br>
	<button type="submit">Update</button>
	<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
	<script type="text/javascript">
	  jQuery( function ($) {
		 $(".chzn-select").chosen();
		 $(".chzn-select-deselect").chosen({allow_single_deselect:true});
		{% for service in service_selected %}
			 $('#{{ service.service_id }}').attr('selected', true);
		{% endfor %}
		 $('#thisOne').trigger("liszt:updated");
	  })
	  $(function() {
			$("button").button();
		});
	</script>
	
	</form>
{% endblock content %}