{% extends "initiatives.html" %}

{% block css %}
<link rel="stylesheet" href="/static/scripts/chosen/chosen.css" />
<link rel="stylesheet" href="/static/css/mintchoc/jquery-ui.css" type="text/css">			
{% endblock css %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/scripts/chosen/chosen.jquery.js"></script>	
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>			
{% endblock javascript %}
{% block side_nav %}
<ul>
	<li><a href="/manager/initiative/edit/{{initiative.uuid}}/">Initiative</a></li>
	<li><a href="/manager/initiative/contributors/{{ initiative.uuid }}/">Contributors</a></li>
	<li><a href="/manager/initiative/contributors/offer/{{initiative.uuid}}/">Service Offers</a></li>
	<li><a href="/manager/initiative/service/{{ initiative.uuid }}/">Service Requests</a></li>
</ul>
{% endblock side_nav %}

{% block content %}
<form id="form" name="form" method="post" action="/manager/initiative/milestones/">
{% csrf_token %}
<input type="hidden" name="uuid" value="{{ initiative.uuid }}">
<h1>Initiative Milestones</h1>
<h2>{{initiative.short_desc}}</h2>
{% if system_message %}
	<p><strong>{{ system_message }}</strong></p>
{% endif %}
	<p>Select the milestones you would like to accomplish for this initiative.</p>
	<select name="milestone_list" data-placeholder="Choose a Milestone..." id='thisOne' class="chzn-select" multiple style="width:350px;" tabindex="4">
	<option value=""></option> 
	{% for milestone in milestone_list %}
		<option id="{{ milestone.id }}" value="{{ milestone.id }}">{{ milestone.short_desc }}</option> 
	{% endfor %}
	</select>
	<br>
	<button type="submit">Update</button>
	<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
	<script type="text/javascript">
	  jQuery( function ($) {
		 $(".chzn-select").chosen();
		 $(".chzn-select-deselect").chosen({allow_single_deselect:true});
		{% for milestone in milestones_selected %}
			 $('#{{ milestone.milestone_id }}').attr('selected', true);
		{% endfor %}
		 $('#thisOne').trigger("liszt:updated");
	  })
	  $(function() {
			$("button").button();
		});
	</script>
	
	</form><br/>
	<a href="/manager/initiative/milestones/target/{{ initiative.uuid }}/">Assign Dates</a>
{% endblock content %}