{% extends "public_menu.html" %}

{% block meta %}
<meta name="description" content="Request access to InitHub platform" />
<meta name="keywords" content="software,solutions,idea,innovation,collaboration" />
<meta name="ROBOTS" content="INDEX, NOFOLLOW" />
{% endblock meta %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/scripts/jquery.validate.min.js"></script>

 <script>
 $(document).ready(function(){
   $("#invitation").validate({
   rules: {
   	email: {
   		required:true,
   		email:true
   	},
   	
   }
   });
 });
 </script>
  					
{% endblock javascript %}

{% block content %}

<form id="invitation" name="invitation" method="post" action="/manager/invitation/">
{% csrf_token %}
<h1>Request Access</h1>
<p>Submit your email below to request access. We will notify you as soon as your request has been processed.</p>
{% if system_message %}<p class="error"><strong>{{ system_message }}</strong></p>{% endif %}
{{ form.as_p }}

<button type="submit">Submit</button>

</form>
{% endblock content %}