{% extends "public_menu.html" %}

{% block javascript %}
<script src="/static/js/jquery.validate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

 <script>
 $(document).ready(function(){
   $("#signin").validate({
   rules: {
   	email: {
   		required:true,
   		email:true
   	},
   	password: 'required'
   	
   }
   });
 });
  $(function() {
		$("button").button();
	});
 </script>
  					
{% endblock javascript %}

{% block content %}

<form id="signin" name="signin" method="post" action="/manager/signin/">
{% csrf_token %}
<h1>Sign-in form</h1>
{% if system_message %}<p class="error"><strong>{{ system_message }}</strong></p>{% endif %}
<table>
{{ form.as_table }}
<tr>	
	<td colspan="2" align="center"><button type="submit" class="button small">Sign-in</button></td>
</tr>
</table>
</form>
<br/>
<p><a href="/support/passreset/">Forgot password?</a></p>
{% endblock content %}