{% extends "profile_manager.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/mintchoc/jquery-ui.css" type="text/css">					
{% endblock css %}
{% block javascript %}
<script src="/static/js/jquery.validate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

 <script>
 $(document).ready(function(){
   $("#password_change").validate({
   errorClass:"errors",
   rules: {
   		new_password1: {
	   		required:true,
	   		minlength: 6
	   	},
	   	new_password2: {
	   		required:true,
	   		minlength: 6,
	   		equalTo: "#id_new_password1"
	   	},
   		current_password: 'required'
   },
   messages: {
		first_name: "Please enter your firstname",
		last_name: "Please enter your lastname",
		current_password: {
			required: "Please enter your current password",
		},
		password1: {
			required: "Please provide a password",
			minlength: "Your password must be at least 6 characters long"
		},
		password2: {
			required: "Please confirm your new password",
			minlength: "Your password must be at least 6 characters long",
			equalTo: "Please enter the same password as above"
		}
	},
	errorPlacement: function(error, element) {
        element.before(error);
        offset = element.offset();
        error.css('left', offset.left);
        error.css('top', offset.top - element.outerHeight());
    }
   });
 });
 $(function() {
	$("button").button();
});
 </script>
  					
{% endblock javascript %}


{% block content %}
<h1>Password Manager</h1>
{% if system_message %}<p><strong>{{ system_message }}</strong></p>{% endif %}
<p>New password must be at least 6 characters.</p>

<form id="password_change" name="password_change" method="post" action="/manager/profile/password/change/">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
	<td colspan="2"><button type="submit">Update</button></td>
</tr>
</table>
</form>

{% endblock content %}