
{% extends "base.html" %}

{% block top_nav %}
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="http://blog.inithub.com">Blog</a></li>
			<li><a href="/manager/signin/">Sign-in</a></li>						
		</ul>
		<div class="social_media">
			<a href="http://www.facebook.com/pages/InitHub/533556133325451"><img src="/static/images/facebook.png" width="24" height="24" alt="InitHub on Facebook" title="InitHub on Facebook"></a>
			<a href="http://www.linkedin.com/company/solutiosoft-llc"><img src="/static/images/linkedin.png" width="24" height="24" alt="Solutiosoft on Linkedin" title="Solutiosoft on Linkedin">
			<a href="https://twitter.com/InitHub"><img src="/static/images/twitter.png" width="24" height="24" alt="InitHub on Twitter" title="InitHub on Twitter"></a>
		</div>
{% endblock top_nav %}