
{% extends "base.html" %}

{% block top_nav %}
		<ul>
			<li><a href="/">Home</a></li>
			{% if '/manager/signin/' in request.get_full_path %}
				<li  class="active">
			{% else %}
				<li>
			{% endif %}
			<a href="/manager/signin/">Sign-in</a></li>
			{% if INVITATION_SYSTEM == True %}
				{% if '/manager/invitation/' in request.get_full_path %}
					<li  class="active">
				{% else %}
					<li>
				{% endif %}
				<a href="/manager/invitation/">Request Access</a></li>
			{% else %}
				<li><a href="/manager/profile/create/">Create Account</a></li>
			{% endif %}
			<li><a href="http://blog.inithub.com">Blog</a></li>			
		</ul>
{% endblock top_nav %}