body {
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.small_font {font-size:small;}

.required { font-weight:bold; }

#header
{
	background-color: #ccc;
	padding: 5px 0px 5px 5px;
}

#footer
{
	background: #ccc;
	text-align: right;
	padding: 5px 5px 5px 0px;
}

#terms
{
	float:left;
	padding: 0px 0px 0px 5px;
}

#copyright
{
	float:right;
}

#navigation
{
	background: #333;
	padding-right: 5px
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

.social_media
{
	float: right;
}

#aside
{
	padding: 10px 0px 5px 0px;
}

#aside h3 { margin: 0; }


#basic_box
{
	padding-top: 5px;  
    padding-right: 0px;  
    padding-bottom: 5px;  
    padding-left: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#basic_box_item
{
	padding-top: 0px;  
    padding-right: 0px;  
    padding-bottom: 0px;  
    padding-left: 10px;
    margin-bottom: 0px;
}

.basic_box_item_gray
{
	padding-top: 0px;  
    padding-right: 0px;  
    padding-bottom: 0px;  
    padding-left: 10px;
    margin-bottom: 0px;
    background: #333;
}

#sponsor
{
	padding-right: 10px;
	float: left;
}

#sponsor_rating
{
	
}

.data_grid_1 
{
	border: 2px solid black; 
	border-collapse: separate;
	width:100%;
}
.data_grid_1 th {border: 1px solid black;}
.data_grid_1 td {border: 1px solid black;}
