/*
	Waypoint by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 1000px;
		line-height: 1.5em;
		font-size: 10pt;
	}	
	
/*********************************************************************************/
/* Device Image                                                                  */
/*********************************************************************************/

	#box2
	{
		margin-left: 20%;
	}
	
	#box3
	{
		margin-right: 20%;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 2em 0em 4em 0em;
	}