{% extends "support_base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/mintchoc/jquery-ui.css" type="text/css">
{% endblock css %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script>
	$(function() {
		$("button").button();
	});
</script>
{% endblock javascript %}

{% block content %}

<h1>My Support Tickets</h1>
{% if system_message %}<p><strong>{{ system_message }}</strong></p>{% endif %}
<table id="ticket_list" class="data_grid_1">
  <tr>
    <th>Ticket #</th>
    <th>Subject</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
{% for ticket in my_tickets %}
  <tr>
  	<td>{{ ticket.id }}</td>
    <td>{{ ticket.short_desc }}</td>
    <td>{{ ticket.create_date }}</td>
    <td><a href="/support/ticket/detail/{{ ticket.id }}/"><button type="update">Update</button></a></td>
  </tr>
	
{% endfor %}

</table>
{% endblock content %}